@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <form asp-action="Login" asp-controller="Authentication">
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password"/>
        <input type="submit" value="Login" />
    </form>
</div>